<div class="container" dir="rtl" align="center">

 

    <img src="assets/images/tick.png" alt="successful">

    <h4 style="color: #388E3C;">عملیات انتقال وجه با موفقیت انجام شد</h4>

<br>

    <h6>انتقال وجه</h6>
 
    <table>
        <tr>
            <td>
                <h6>مبلغ</h6>
            </td>
            &nbsp;
            <td>
                <h6>{{this.creditCard.CreditCardInfo.Amount}}</h6>
            </td>
            &nbsp;
            <td>
                <h6>تومان</h6>
            </td>
        </tr>
    </table>

<br>
    <div class="col-md-10">
    <table class="table" align="center">

        <tr>
            <td>
                شماره کارت مبدا
            </td>
            <td>
                {{this.creditCard.CreditCardInfo.CardNumber}}
            </td>
        </tr>



        <tr>
            <td>
                شماره کارت مقصد
            </td>
            <td>
                {{this.creditCard.CreditCardInfo.DestinationCardNumber}}
            </td>
        </tr>




        <tr>
            <td>
                شناسه
            </td>
            <td>
                {{this.creditCard.CreditCardInfo.CVV2}}
            </td>
        </tr>




        <tr>
            <td>
                شماره پیگیری
            </td>
            <td>
                15548871
            </td>
        </tr>




        <tr>
            <td>
                تاریخ
            </td>
            <td>
                1399
            </td>
        </tr>




        <tr>
            <td>
                وضعیت
            </td>
            <td>
                موفقیت آمیز
            </td>
        </tr>

    </table>
</div>

</div>
 