<div class="container Wrapper border-radius" id="MainContainer" dir="rtl" align="right">

    <div class="col-md-10">
        <div class="jumbotron">
            <div class="user-info">
                <h2 align="center" style="font-size: medium;">اطلاعات پذیرنده</h2>
                <table class="table mgb0" align="center">
                    <tbody>
                        <tr>
                            <td>نام حساب :</td>
                            <td>داتیس آرین قشم</td>
                        </tr>
                        <tr>
                            <td>شماره کارت مقصد :</td>
                            <td>{{this.creditCard.CreditCardInfo.DestinationCardNumber}}</td>
                        </tr>
                        <tr>
                            <td>شماره کارت مبدا :</td>
                            <td>{{this.creditCard.CreditCardInfo.CardNumber}}</td>
                        </tr>
                        <tr>
                            <td>کد اعتبارسنجی :</td>
                            <td>{{this.creditCard.CreditCardInfo.CVV2}}</td>
                        </tr>
                        <tr>
                            <td>ماه انقضا :</td>
                            <td>{{this.creditCard.CreditCardInfo.ExpireMonth}}</td>
                        </tr>
                        <tr>
                            <td>سال انقضا :</td>
                            <td>{{this.creditCard.CreditCardInfo.ExpireYear}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="jumbotron jumbotron-fluid" style="background-color: #388E3C;">


                <table class="table" align="center">
                    <tbody>
                        <tr>
                            <td style="color: white;">مبلع انتقال (تومان):</td>
                            <td style="color: white;">{{this.creditCard.CreditCardInfo.Amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div align="center">
                <button type="button" class="btn btn-success" (click)="Transmit()">تایید نهایی</button>
                &nbsp;
                <button type="button" class="btn btn-warning" (click)="BackToPortal()">تصحیح</button>
            </div>

        </div>
    </div>
</div>